@model List<CourseProject.Models.Enrollment>
    <h2>Enter Swimmer Progress Report</h2>
    <h3>Session: @Model[0].Session.LessonId</h3>
  <form asp-controller="Coach" asp-action="PostProgressReport" method="post">
      <table border="1">
          <tr>

              <th>Student ID</th>
              <th>Progress Report</th>
              <th></th>
          </tr>
          @for (int i = 0; i < Model.Count(); i++)
          {
      <tr>

          <td>@Model[i].SwimmerId</td>
          <td><input asp-for="@Model[i].ProgressReport" /> </td>
          <td>
              <input asp-for="@Model[i].EnrollmentId"
                     type="hidden"
                     value="@Model[i].EnrollmentId" />
          </td>
      </tr>

          }

      </table>
      <input type="submit" value="Submit" />
</form>